<mat-card
  class="room"
  [style.width.px]="room.width"
  [style.height.px]="room.height"
  [style.left.px]="room.position.x"
  [style.top.px]="room.position.y"
  cdkDropList
  [cdkDropListData]="room"
  cdkDropListSortingDisabled="true"
  (cdkDropListDropped)="drop($event)"
>
  <span class="room-name">{{room.name}}</span>
  <smart-home-conx-sensor
    *ngFor="let sensor of sensors$ | async"
    [sensor]="sensor"
    [cdkDragData]="sensor"
    cdkDrag
    [cdkDragDisabled]="!enabled"
  ></smart-home-conx-sensor>
</mat-card>