<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>developer_board</mat-icon>
      ESP-Geräte
    </ng-template>
    <ng-container *ngIf="espList$ | async as espList">
      <div *ngFor="let esp of espList">
        <button mat-icon-button (click)="editDevice(esp)">
          <mat-icon>edit</mat-icon>
        </button>
        <smart-home-conx-connection-status-indicator [status]="esp.connectionStatus"></smart-home-conx-connection-status-indicator>
        {{esp.model}} - {{esp.description}} - {{esp.chipId}}
        <button mat-icon-button *ngIf="esp.connectionStatus === ConnectionStatus.ONLINE" (click)="startOtaUpdate(esp.chipId)">
          <mat-icon>system_update</mat-icon>
        </button>
      </div>
    </ng-container>
    <button mat-raised-button color="primary" (click)="createDevice()">
      <mat-icon>add</mat-icon>
      Erstellen
    </button>
    <button mat-icon-button (click)="startOtaUpdate()">
        <mat-icon>system_update</mat-icon>
        alle auf Updates prüfen
      </button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home_mini</mat-icon>
      Alexa-Geräte
    </ng-template>
    <ng-container *ngIf="alexaDevices$ | async as alexaDeviceList">
      <div *ngFor="let alexaDevice of alexaDeviceList">
        <button mat-icon-button (click)="showAlexaDetails(alexaDevice)">
          <mat-icon>more_vert</mat-icon>
        </button>
        {{alexaDevice.accountName}}
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>