<div class="sensor" [style.left.px]="sensor.position?.x" [style.top.px]="sensor.position?.y">
  <mat-icon [matMenuTriggerFor]="menu">{{getIconName(sensor.type)}}</mat-icon>
  <ng-container *ngIf="sensor.roomId">
    <div *ngIf="latest$ | async as latestItem">
      {{latestItem.value}}{{getSuffix(sensor.type)}} <small>({{latestItem.time | timeAgo | async}})</small>
    </div>
</ng-container>
  <div *ngIf="isLoading$ | async">lade...</div>
  <mat-menu #menu="matMenu">
    <p>{{sensor._id}}</p>
    <p>{{sensor.chipId}} #{{sensor.pin || '- -'}}</p>
    <div *ngIf="history$ | async as historyItems">
      <ul *ngIf="historyItems.length > 0; else noItems">
        <li *ngFor="let item of historyItems">
          {{item.time | date:'dd.MM. HH:mm:ss'}} {{item.value}}{{getSuffix(sensor.type)}}
        </li>
      </ul>
      <ng-template #noItems>Keine Einträge vorhanden</ng-template>
    </div>
    <button mat-menu-item (click)="reloadHistory()">Historie laden</button>
    <button mat-menu-item (click)="sendMqttMessage()">Fake MQTT</button>
  </mat-menu>
</div>