SERVICE_USER=me
SERVICE_PASSWORD=s3cr3t
SERVICE_SECRET=some-very-secret-string
PUBLIC_DOMAIN=something.myfritz.net
GIT_USER=me
GIT_EMAIL=me@my-provider.com
AMAZON_EMAIL=amazon_account@email.address
AMAZON_PASSWORD=Very_Secret_Amazon_Account_Password
AMAZON_MFA_SECRET=1234 5678 9ABC DEFG HIJK LMNO PQRS TUVW XYZ0 1234 5678 9ABC DEFG
WIFI_SSID=My FRITZ!Box 1234
WIFI_PASS=topsecret
GITHUB_ACCESS_TOKEN=yoursupersecretaccesstoken
OPEN_WEATHER_MAP_APP_ID=yoursupersecretappid
HOME_POSITION_LAT=52.5069704
HOME_POSITION_LON=13.2846503
TELEGRAM_API_TOKEN=yoursupersecretaccesstoken
TELEGRAM_RECEIVER_IDS=comma,separated,list,of,ids