<div
  smartHomeConxSensor
  class="sensor"
  [cdkDragData]="sensor"
  cdkDrag
  [cdkDragDisabled]="dragDisabled"
  (click)="openDetails()"
>
  <mat-icon *ngIf="iconName$ | async as iconName">{{iconName}}</mat-icon>
  <ng-container *ngIf="sensor.roomId">
    <div class="latest-info-container" *ngIf="latest$ | async as latestItem">
      <small *ngIf="latestItem?.value; else open">geschlossen</small>
      <ng-template #open><small>offen</small></ng-template>
      <small>{{latestItem.time | timeAgo:'vor' | async}}</small>
    </div>
  </ng-container>
</div>