<div mat-dialog-title>
  <h1>{{data.accountName}}</h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <div>
      <mat-form-field>
        <input matInput placeholder="Guten Tag" formControlName="speechText">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="speak()" [disabled]="!form.get('speechText').value">
        <mat-icon>campaign</mat-icon>
        Sprachausgabe
      </button>
    </div>
    
    <div>
      <mat-form-field>
        <input matInput placeholder="Stelle einen Timer" formControlName="commandText">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendCommand()" [disabled]="!form.get('commandText').value">Kommando ausführen</button>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Schließen</button>
</div>