.horizontal-wrapper {
  display: flex;

  .weather-item {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 10px;
    margin: 10px;

    .date-with-time-container {
      display: flex;
      align-items: baseline;

      h2 {
        margin-left: 5px;
      }
    }
  }
}

mat-card {
  display: inline-block;

  .description-row {
    display: flex;
    align-items: center;
  }
  
  .temperature-humidity-container {
    display: flex;
  
    & > div {
      display: flex;
      align-items: flex-end;
      margin-right: 10px;
    }
  }
}