<button mat-icon-button (click)="refresh()" [disabled]="(refreshable$ | async) === false">
  <mat-icon>refresh</mat-icon>
</button>
<div *ngIf="weather$ | async as weather">
  <div>Stand: {{weather.current.datetime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
  <mat-card>
    <mat-card-title>{{weather.current.datetime | timeAgo:'vor' | async}}</mat-card-title>
    <mat-card-content>
      <div class="description-row">
        <img [src]="'https://openweathermap.org/img/wn/' + weather.current.weather.icon + '.png'" />
        <div>{{weather.current.weather.description}}</div>
      </div>
      <div class="temperature-humidity-container">
        <div><mat-icon svgIcon="temperature"></mat-icon>{{weather.current.temp}}°C</div>
        <div><mat-icon svgIcon="humidity"></mat-icon>{{weather.current.humidity}}%</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>1h</ng-template>
      <div class="horizontal-wrapper">
        <smart-home-conx-weather-forecast-minutely></smart-home-conx-weather-forecast-minutely>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>48h</ng-template>
      <div class="horizontal-wrapper">
        <mat-card class="weather-item" *ngFor="let hour of weather.forecast.hourly">
          <mat-card-title>
            <div class="date-with-time-container">
              <small>{{hour.datetime | date:'dd.MM.'}}</small>
              <div>{{hour.datetime | date:'HH:mm'}} Uhr</div>
            </div>
          </mat-card-title>
          <mat-card-content>
            <div class="description-row">
              <img [src]="'https://openweathermap.org/img/wn/' + hour.weather.icon + '.png'" />
              <div>{{hour.weather.description}}</div>
            </div>
            <div class="temperature-humidity-container">
              <div><mat-icon svgIcon="temperature"></mat-icon>{{hour.temp}}°C</div>
              <div><mat-icon svgIcon="humidity"></mat-icon>{{hour.humidity}}%</div>
              <div *ngIf="hour.precipitationProbability > 0"><mat-icon svgIcon="precipitation_probability"></mat-icon>{{hour.precipitationProbability | percent}}</div>
              <div *ngIf="hour.rain > 0">{{hour.rain}}mm</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>1w</ng-template>
      <div class="horizontal-wrapper">
        <mat-card class="weather-item" *ngFor="let day of weather.forecast.daily">
          <mat-card-title>{{day.datetime | date:'EEEE'}}</mat-card-title>
          <mat-card-content>
            <div class="description-row">
              <img [src]="'https://openweathermap.org/img/wn/' + day.weather.icon + '.png'" />
              <div>{{day.weather.description}}</div>
            </div>
            <div class="temperature-humidity-container">
              <div><mat-icon svgIcon="temperature"></mat-icon>{{day.temp.day}}°C</div>
              <div><mat-icon svgIcon="humidity"></mat-icon>{{day.humidity}}%</div>
              <div *ngIf="day.precipitationProbability > 0"><mat-icon svgIcon="precipitation_probability"></mat-icon>{{day.precipitationProbability | percent}}</div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>