<div mat-dialog-title>
  <h1>Verlauf</h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>

  <div *ngIf="data.sensor">Bewegungsmelder {{data.sensor.name || ''}}</div>

  <!--
  <smart-home-conx-sensor-detail
    [sensor]="data.sensor"
  >
    <div>sensor specific data attributes</div>
  </smart-home-conx-sensor-detail>

  <smart-home-conx-sensor-warning-list></smart-home-conx-sensor-warning-list>
  -->

  <!-- <div><small>Pin: {{data.sensor.pin || 'keiner'}}</small></div> -->
  <!-- <div><small *ngIf="data.sensor.details">Warnungen: {{data.sensor.details.warningEnabled}}</small></div> -->

  <!-- <smart-home-conx-sensor-warning-list></smart-home-conx-sensor-warning-list> -->

  <!-- <smart-home-conx-sensor-history
    [sensor]="data.sensor"
    [curve]="curve"
    [yAxisTicks]="[0, 1]"
    min="0"
    max="1"
  ></smart-home-conx-sensor-history> -->
</div>
<mat-dialog-actions align="end">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" yPosition="above">
    <smart-home-conx-sensor-action-buttons
      [sensor]="data.sensor"
      [dialogRef]="dialogRef"
    ></smart-home-conx-sensor-action-buttons>
  </mat-menu>
  <button mat-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>