<button mat-raised-button color="primary" (click)="create()">
  <mat-icon>add</mat-icon>
  Erstellen
</button>

<div style="margin-top: 20px;">
  <mat-slide-toggle (change)="onEditModeChange($event)">Bearbeitungsmodus aktiv</mat-slide-toggle>
  <smart-home-conx-floor [enabled]="editModeEnabled"></smart-home-conx-floor>
</div>

<ng-container *ngIf="sensors$ | async as sensors">
  <div *ngFor="let sensor of sensors">
    <button mat-icon-button (click)="edit(sensor)">
      <mat-icon>edit</mat-icon>
    </button>
    {{sensor._id}} {{sensor.chipId}} {{sensor.type}} {{sensor.pin}}
  </div>
</ng-container>