<h1 mat-dialog-title *ngIf="data?.sensor">{{data.sensor.chipId}} (#{{data.sensor.pin}})</h1>
<h1 mat-dialog-title *ngIf="!data?.sensor">Neuer Sensor</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <mat-form-field>
      <mat-label>Erstelldatum</mat-label>
      <input matInput placeholder="Erstelldatum" formControlName="createdAt" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Typ</mat-label>
      <mat-select formControlName="type" required>
        <mat-select-trigger>
          <mat-icon>{{findIcon(form.get('type').value)}}</mat-icon>{{findLabel(form.get('type').value)}}
        </mat-select-trigger>
        <mat-option *ngFor="let option of typeOptions" [value]="option.value"><mat-icon>{{option.icon}}</mat-icon>{{option.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chip-ID</mat-label>
      <input matInput type="number" placeholder="Chip-ID" formControlName="chipId" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pin</mat-label>
      <input matInput type="number" placeholder="Pin" formControlName="pin">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Abbrechen</button>
  <button mat-button color="warn" *ngIf="!createMode" (click)="onRemoveClick()">Löschen</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()" cdkFocusInitial [disabled]="form.invalid">Speichern</button>
</div>