<h1 mat-dialog-title *ngIf="data?.esp">{{data.esp.model}} (#{{data.esp.chipId}})</h1>
<h1 mat-dialog-title *ngIf="!data?.esp">Neuer ESP</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    <mat-form-field>
      <mat-label>Erstelldatum</mat-label>
      <input matInput placeholder="Erstelldatum" formControlName="createdAt" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modell</mat-label>
      <input matInput placeholder="Modell" formControlName="model" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <input matInput placeholder="Beschreibung" formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>PIO-Env</mat-label>
      <mat-select formControlName="pioEnv" required>
        <mat-option value="esp01_1m">esp01_1m</mat-option>
        <mat-option value="esp12e">esp12e</mat-option>
        <mat-option value="nodemcuv2">nodemcuv2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chip-ID</mat-label>
      <input matInput placeholder="Chip-ID" formControlName="chipId" required>
    </mat-form-field>
    <mat-checkbox formControlName="batteryPowered">Batteriebetrieb</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Abbrechen</button>
  <button mat-button color="warn" *ngIf="!createMode" (click)="onRemoveClick()">Löschen</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()" cdkFocusInitial [disabled]="form.invalid">Speichern</button>
</div>