<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>SmartHomeConX</span>
  <span class="spacer"></span>
  <smart-home-conx-notification-menu></smart-home-conx-notification-menu>
</mat-toolbar>

<nav *ngIf="isLoggedIn$ | async">
  <div>
    <a routerLink="/playground">Playground</a>
    <a routerLink="/facility/devices">Geräte</a>
    <a routerLink="/facility/sensors">Sensoren</a>
    <a routerLink="/commuting">Pendeln</a>
    <a routerLink="/preferences">Einstellungen</a>
    <a href="#" (click)="logout($event)">Logout</a>
  </div>
</nav>

<router-outlet></router-outlet>