.short-info-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blob {
  display: inline-block;
  background: rgba(51, 217, 178, 1);
  border-radius: 50%;
  margin: 0 5px;
  height: 10px;
  width: 10px;

  &.pulsating {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}