.sensor {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  .latest-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cdk-drag-preview {
  opacity: 0.5;
}

.cdk-drag-placeholder {
  display: none;
}