<ul>
  <li>devices/3357047/temperature, {{'{'}}"value":18.9, "pin":2}<button mat-button color="primary" (click)="applyAndSend(3357047, 'temperature', 18.9, 2)"><mat-icon>check</mat-icon></button></li>
  <li>devices/7888034/humidity, {{'{'}}"value":56.6, "pin":8}<button mat-button color="primary" (click)="applyAndSend(7888034, 'humidity', 56.6, 8)"><mat-icon>check</mat-icon></button></li>
  <li>devices/7888034/humidity, {{'{'}}"value":56.6, "pin":9}<button mat-button color="primary" (click)="applyAndSend(7888034, 'humidity', 56.6, 9)"><mat-icon>check</mat-icon></button></li>
  <li>devices/9876543/voltage, {{'{'}}"value":3.18}<button mat-button color="primary" (click)="applyAndSend(9876543, 'voltage', 3.18)"><mat-icon>check</mat-icon></button></li>
</ul>
<mat-form-field>
  <mat-label>MQTT Topic</mat-label>
  <input matInput placeholder="devices/7888034/temperature" [formControl]="topic">
</mat-form-field>
<br/>
<mat-form-field>
  <mat-label>MQTT Payload (e.g. JSON)</mat-label>
  <input matInput placeholder="{value: 33.1}" [formControl]="payload">
</mat-form-field>
<br/>
<button mat-raised-button color="primary" (click)="sendMessage()">
  <mat-icon>send</mat-icon>
  Send MQTT message
</button>
<br/>
<br/>

<!-- <h2>ESP 7888034</h2>
<div>
  Batterie: {{latestVoltage$ | async}}V
</div>
<div *ngIf="latestTemperature$ | async as temp">
  Temperatur: {{temp.temperature}} {{temp.trend}}
</div>

<h2>DHT</h2>
<div *ngIf="dhtLog$ | async as dhtLog" style="width: 100%; height: 200px; overflow-y: auto;">
  <div *ngFor="let x of dhtLog">
    {{x.time | date:'dd.MM.yyyy HH:mm:ss'}}: {{x.temperature}} °C, {{x.humidity}}%
  </div>
</div> -->

<h2>Logs</h2>
<div *ngIf="systemLog$ | async as systemLog" style="width: 100%; height: 200px; overflow-y: auto;">
  <div *ngFor="let x of systemLog">
    {{x.time | date:'dd.MM.yyyy HH:mm:ss'}}: {{x.message}}
  </div>
</div>

<h2>Movements</h2>
<div *ngIf="movementLog$ | async as movementLog" style="width: 100%; height: 200px; overflow-y: auto;">
  <div *ngFor="let x of movementLog">
    {{x.time | date:'dd.MM.yyyy HH:mm:ss'}}: {{x.message}}
  </div>
</div>

<br/>
<br/>

<mat-form-field *ngIf="espRepos$ | async as repos">
  <mat-label>Firmware</mat-label>
  <mat-select [formControl]="libName">
    <mat-option *ngFor="let repo of repos" [value]="repo">{{repo}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Release</mat-label>
  <mat-select [formControl]="releaseType">
    <mat-option value="major">major (1.0.1 => 2.0.0)</mat-option>
    <mat-option value="minor">minor (1.0.1 => 1.1.0)</mat-option>
    <mat-option value="patch">patch (1.0.1 => 1.0.2)</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field *ngIf="espConfig$ | async as esps">
  <mat-label>ESPs</mat-label>
  <mat-select multiple [formControl]="chipIds">
    <mat-option *ngFor="let esp of esps" [value]="esp.chipId">{{esp.chipId}} ({{esp.description}}, {{esp.model}})</mat-option>
  </mat-select>
</mat-form-field>
<br/>
<button mat-raised-button color="primary" (click)="triggerPioBuild()">
  <mat-icon>play_arrow</mat-icon>
  Trigger PIO Build
</button>
<button mat-button (click)="killPioBuild()">
  <mat-icon>stop</mat-icon>
  Kill active PIO Build
</button>
<br/>
<textarea *ngIf="logMessages$ | async as logMessages" style="width: 100%; height: 400px;">
  {{ logMessages }}
</textarea>

<br/>
<br/>

<button mat-raised-button color="primary" (click)="getCommutingHistory()">Get Commuting History</button>