<button (click)="sendMessage()">Send ESP_7888034/movement</button>

<br/>
<br/>

<input type="text" [formControl]="speachText">
<button (click)="speak()">Speak</button>

<br/>
<br/>

<button (click)="getCommutingHistory()">Get Commuting History</button>

<br/>
<br/>

<select multiple>
  <option value="123456">#1 NodeMCU</option>
  <option value="654789">#2 ESP01</option>
  <option value="869864">#3 ESP12F</option>
  <option value="324515">...</option>
</select>
<select>
  <option value="major">major (1.0.1 => 2.0.0)</option>
  <option value="minor">minor (1.0.1 => 1.1.0)</option>
  <option value="patch" selected>patch (1.0.1 => 1.0.2)</option>
</select>
<select>
  <option value="esp-commuting-display">esp-commuting-display</option>
  <option value="esp-motion-sensor">esp-motion-sensor</option>
  <option value="esp-mqtt">esp-mqtt</option>
  <option value="esp-relais">esp-relais</option>
</select>
<button (click)="triggerPioBuild()">Trigger PIO Build</button>
<button (click)="killPioBuild()">Kill active PIO Build</button>
<br/>
<textarea *ngIf="logMessages$ | async as logMessages" style="width: 100%; height: 400px;">
  {{ logMessages }}
</textarea>